@charset "UTF-8";


/* Todas as demais Medias */
/* Pesquisar: Typical Device Breakpoints
    pequenas telas : 600px
    celular: 600px até 768px
    tablet: 768px até 992px
    Desktop: 992px até 1200px
    Grandes Telas: acima de 1200px
     */

@media screen and (min-width: 100vw) and (max-width: 600px) {
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      
    }
    header > h1 {
        text-align: center;
        margin: auto;
    }
   
    span#burguer {
        background-color: rgb(83, 82, 82);
        color: white;
        display: block;
        padding: 10px;
        cursor: pointer;
      
    }
    
    span#burguer:hover {
        background-color: white;
        color: black;
    }
   header > nav {
        display: flex;
        flex-flow: column nowrap;
        display: none;
        
   }
   nav > a {
    margin: 2px;
    display: block;
    width: 90vw;
    
   }

}

/* @media screen and (min-width: 768px) and (max-width: 992px){
    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    header > h1 {
        width: 90%;
    }
} */
     
/* @media screen and (min-width: 992px){
    
    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    header > nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center
}

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    header > h1 {
        text-align: left;
    }

    header > nav {
        padding-top: 10px;
        display: flex;
        flex-flow: row nowrap;
    }

    nav > a {
        width: 80px;
        border-radius: 5px;
    }
} */